[workspace]
channels = ["https://prefix.dev/conda-forge"]
platforms = ["win-64", "linux-64", "osx-arm64", "osx-64", "linux-aarch64"]

# NOTE: this doesn't work so well with compiled code ...
# [pypi-dependencies]
# geometry_utils = { path = ".", editable = true }

[dependencies]
cmake = "*"
cython = "*"
cython-cmake = "*"
ninja = "*"
numpy = "*"
pip = "*"
python = "*"
python-build = "*"
scikit-build-core = "*"
pytest = "*"
pytest-cov = "*"
pytest-run-parallel = "*"

[feature.py311.dependencies]
python = "~=3.11"

[feature.py312.dependencies]
python = "~=3.12"

[feature.py313.dependencies]
python = "~=3.13"

[feature.py314.dependencies]
python = "~=3.14"

[feature.py314t.dependencies]
python = "~=3.14"
python-freethreading = "*"

[feature.dev.pypi-dependencies]
geometry_utils = { path = ".", editable = true }

[feature.dev.dependencies]
ipython = "*"
matplotlib = "*"

[environments]
default = { solve-group = "default" }
py311 = [ "py311" ]
py312 = [ "py312" ]
py313 = [ "py313" ]
py314 = [ "py314" ]
py314t = [ "py314t" ]
dev = ["dev", "py311"]

[tasks]
build = "pip install --no-build-isolation ."
test = { cmd = ["pytest", "--pyargs", "geometry_utils"], depends-on = ["build"] }
test_threading = { cmd = ["pytest", "--parallel-threads=20", "--iterations=20", "--pyargs", "geometry_utils", ], depends-on = ["build"] }
